<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <div class="container">
        Zarządzaj swoim budżetem!
    </div>
    <div class="container">
        <a th:href="@{/budget}" >Budżet</a>
        <a th:href="@{/budget/report}">Raport</a>
        <a th:href="@{/logout}">Wyloguj</a>
    </div>
</header>

<main>
    <h2>Logowanie</h2>
    <form action="#" th:action="@{/login}" method="post">
        <label>Nazwa użytkownika:</label>
        <input type="text" name="username" />

        <label>Hasło:</label>
        <input type="password" name="password" />

        <button type="submit">Zaloguj się</button>
    </form>

    <p th:if="${error}" th:text="${error}" class="error"></p>
    <p>Nie masz konta? <a th:href="@{/register}">Zarejestruj się</a></p>
</main>

<footer>
    <div class="container">
        &copy; 2025 Aplikacja do zarządzania budżetem - Wszelkie prawa zastrzeżone
    </div>
</footer>
</body>
</html>
